body
{
	font-family: fantasy;
	color: #2B4570;
	background-color:#3AAFB9;
	margin-left: 75px;
	margin-right: 75px;
}
header, footer, nav
{
	color:#001011;
	text-align:center;
}

h1, h2
{
	font-family: fantasy;
	text-align: center;
	line-height: 0px;
	font-size: 50px;
	margin-bottom:1em;
	color: #001011;
}
h3{
	font-family:fantasy;
	text-align:left;
	line-height:0px;
	font-size:36px;
}
main{
	font-family: cursive;
	font-size:24px;
}
a{
	text-decoration: underline;
	color: #001011;
	font-weight: bold;
}
a:hover
{
	color: #093A3E;
}
figure
{
	text-align: center;
}
figcaption
{
	font-style: italic;
}

.text{
	 font-size: 32px;
}

.formSection{
	font-family: Cambria, Cochin, Georgia, serif;
	background-color: #FADA70;
	margin-top:.5rem;
	margin-bottom:1rem;
	padding:1rem 1rem 1rem 1rem;
	border-radius:10%;
	box-shadow:.4rem .4rem #64572c;
	font-size: 16px;
	text-align: left;
	line-height: 1rem;
}
.signup{
	background-color: #FA70BE;
	padding: 1rem 1rem 1rem 1rem;
	margin-right:30%;
	margin-left: 30%;
	font-size: 2rem;
	border-radius:10%;
	box-shadow:.4rem .4rem #642c4c
}
tbody tr:nth-child(odd){
	background-color: #8c579c;
}
table{
	border-collapse: collapse;
	margin: 20px auto;
	font-size:20px;
	color: black;
	background-color: #24468e;
	}
thead{
background-color: #d8097e;
}

th, td{
	border: 1px solid black;
	padding: .5em 1em .5em .5em;
	text-align: center;
	vertical-align: middle;
}

nav{
	text-align: center;
	font-size:32px;
	display: flex;
}

.topnav button{
	flex-basis:25%;
	display:block;
}

nav button{
	text-decoration: underline;
	display:block;
	width:100%;
	background-color: #64E9EE;
	border-radius: 5%;
	height:150%;
}
nav button:hover{
	background-color: #4D6CFA;
}

.bottomnav button{
	flex-basis:12.5%;
	display:block;
}